<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear/>
    <add name="Test1"
         connectionString="host=localhost;port=21000;database=utility_database_test1;user id=u1;password=p1"
         providerName="Npgsql" />
    <add name="Test2"
         connectionString="host=localhost;port=21000;database=utility_database_test2;user id=u2;password=p2"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>