<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
           type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <clear/>
    <add name="ProviderWithExistingUserName"
         connectionString="host=localhost;port=5432;database=utility_database_test;user id=postgres;password=postgres;pooling=false"
         providerName="Npgsql" />
    <add name="ProviderWithMissingUserName"
         connectionString="host=localhost;port=5432;database=utility_database_test;user id=udtest;password=udtest;pooling=false"
         providerName="Npgsql" />
    <add name="ProviderWithSchema"
         connectionString="host=localhost;port=5432;database=utility_database_test;user id=postgres;password=postgres;pooling=false;schema=a_schema"
         providerName="Npgsql" />
  </connectionStrings>
</configuration>