<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Valid" connectionString="server=server" providerName="System.Data.SqlClient"/>
    <add name="BlankProviderName" connectionString="server=server" providerName=""/>
    <add name="NoProviderName" connectionString="server=server"/>
    <add name="BlankConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
