<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Test1"
         connectionString="Url=http://localhost;Database=UtilityDatabaseTest1"/>
    <add name="Test2"
         connectionString="Url=http://localhost;Database=UtilityDatabaseTest2"/>
  </connectionStrings>
</configuration>