<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Test1"
         connectionString="mongodb://localhost/UtilityDatabaseTest1"/>
    <add name="Test2"
         connectionString="mongodb://localhost/UtilityDatabaseTest2"/>
  </connectionStrings>
</configuration>