<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Test1"
         connectionString="database=UtilityDatabaseTest1;database type=Utility.Database.Mock.Test.TestMockDatabase, Utility.Database.Mock.Test"/>
    <add name="Test2"
         connectionString="database=UtilityDatabaseTest2;database type=Utility.Database.Mock.Test.TestMockDatabase, Utility.Database.Mock.Test"/>
  </connectionStrings>
</configuration>